body {
  background: grey;
  height: 100%;
}

.bg {
  background-image: url("/images/bgimage.jpg");
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.clock {
  margin-left:auto;
  margin-right:auto;
  width:800px;
  margin-top: 10%;
  color:#fff;
  /*background:grey;*/
}

#Date {
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  text-transform: uppercase;
  font-size:36px;
  text-align:center;
  /*text-shadow:0 0 5px #00c6ff;*/
}

ul {
  width:800px;
  margin:0 auto;
  padding:0px;
  list-style:none;
  text-align:center;
}

ul li {
  display:inline;
  font-size:10em;
  text-align:center;
  font-family:Arial, Helvetica, sans-serif;
  /*text-shadow:0 0 5px #00c6ff;*/
}

.quote{
    font-family: "Helvetica Neue";
    color: black;
    font-size: 3vw;
    letter-spacing: 1px;
    line-height: 1;
    margin:0;
}

#quote-text{
    font-size:1.5vw;
}

/* Todo-List Stylings */
.todo-list-container{
  background: pink;
  width: 360px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  color: white;
}

#todo-list {
  width: 360px;
  margin: 0;
  padding: 0;
}

#todo-list li {
  width: 360px;
  font-size: 16px;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: left;
  background-color: #17181D;
}

#todo-list span {
  background: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

#todo-list li:hover span {
  width: 40px;
  opacity: 1.0;
}

#task-input {
  font-size: 18px;
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

#task-input:focus {
  background: #fff;
  border: 3px solid rgba(255, 255, 255, 0.1);
  outline: 0;
}

.striked-out {
  text-decoration: line-through;

}
/* Rotating background images styles */
.fade-in{
  -webkit-animation: fade-in 2s ease;
  -moz-animation: fade-in ease-in-out 2s both;
  -ms-animation: fade-in ease-in-out 2s both;
  -o-animation: fade-in ease-in-out 2s both;
  animation: fade-in 2s ease;
  visibility: visible;
  -webkit-backface-visibility: hidden;
}

@-webkit-keyframes fade-in{0%{opacity:0;} 100%{opacity:1;}}
@-moz-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@-o-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@keyframes fade-in{0%{opacity:0} 100%{opacity:1}}

#banner-load img {
  height: auto;
  width: 100%;
  position: absolute;
  z-index: -1;
}


/*#point {
  position:relative;
  -moz-animation:mymove 1s ease infinite;
  -webkit-animation:mymove 1s ease infinite;
  padding-left:10px; padding-right:10px;
}

@-webkit-keyframes mymove
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }
}

@-moz-keyframes mymove
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }
}*/
